<h1>View Shopping Lists</h1>
<table>
	<thead>
		<th>Shopping List Name</th>
		<th>Store</th>
		<th>Date</th>
		<th>Actions</th>
	</thead>
	<tbody>
		
		<tr>
			<td></td>
			<td></td>
			<td></td>
			<td>
	<a href="/shoppers/ ">Show</a>	|
	<a href="/shoppers/edit">Edit</a>	|
	<a href="/shoppers/delete">Delete</a>	</td>
		</tr>
	</tbody>
</table>
<a href="/shoppers/new">Create Shopping List</a>