<h1>Create Shopping List</h1>
<form action="/shoppers" method="post">
	<div>
		<label>Shopping List Name:</label>
		<input type="text" name="shopper[shopping_list_name]">		
	</div>
	<div>
		<label>Store:</label>
		<input type="text" name="shopper[store]">		
	</div>
	<div>
		<label>Date:</label>
		<input type="text" name="shopper[date]">		
	</div>
	<input type="submit" value="Create">
	
</form>
<% if flash[:errors] %>
	<% flash[:errors].each do |e| %>
	<div><%= e %></div>
	<% end %>
<% end %>